@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --var-black-opacity: rgba(0,0,0,0.1) ;
  --var-primary-900: #000000;
  --var-primary-800: #0a071a;
  --var-primary-700: #140f35;
  --var-primary-600: #1e184f;
  --var-primary-500: #28206a;
  --var-primary-400: #3d309f;
  --var-primary-300: #4738ba;
  --var-primary-200: #5140d4;
  --var-primary-100: #5b48ef;
  --var-primary-50: #6650ff;

  --var-secondary-900: #000000;
  --var-secondary-800: #290b0b;
  --var-secondary-700: #531716;
  --var-secondary-600: #7e2221;
  --var-secondary-500: #a82e2c;
  --var-secondary-400: #fc4543;
  --var-secondary-300: #ff514e;
  --var-secondary-200: #ff5c59;
  --var-secondary-100: #ff6864;
  --var-secondary-50: #ff7470;
}

.wrapper {
  max-width: 1752px;
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
}
.container{
  margin: 0 auto;
}
.center-item{
  left: 50%;
  transform: translate(-50%,0)
}
.language-select option.tr { background-image: url('../public/assets/images/tr-flag.svg');}
.language-select option.en { background-image: url('../public/assets/images/en-flag.svg');}

.menu-items {
 @apply cursor-pointer opacity-90 hover:opacity-100
}

.seat {
  /* Ortak stil ayarları */
}

.female {
  background-color: pink;
}

.male {
  background-color: blue;
}


.available {
  background-color: transparent;
}

.bus-bg{
  background: url("../public/assets/images/bus.svg");
}

{/*Spinner */}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #000000;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
